:root {
  --black:#111;
  --charcoal: #222023;
  --white: #fffefc;
  --green: #2ecc40;
  --red:  #b8100a;
  --orange: #ed7116;
  --yellow: #fabd04;
  --violet-light: #6d44b8;
  --violet-dark: #573b8a;
  --gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(109,68,184,1) 100%);

  --color-text: var(--white);
  --color-bg: var(--gradient);
  --color-bg-input: var(--black);
  --color-checked: var(--green);
  --color-delete: var(--red);
  --color-accent: var(--violet-dark);
  --color-accent-hover: var(--violet-light);

  --line-height: 1.5;
  --font-family: sans-serif;
  --font-size: clamp(1rem, 3vw, 1.5rem);
  --height: calc(var(--line-height) * var(--font-size));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
}

html {
  font-size: 100%;
  font-family: var(--font-family);
  color: var(--color-text);
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  line-height: var(--line-height);
}

body {
    min-height: 100vh;
}

#defs {display: none;}

header{
}

.header {
  padding: 2rem 1rem 0.5rem;
  text-align: center;
  border-bottom: 2px solid currentColor;
}

.header-right {
   font-size: 16px;
   margin-top: 10px;
   display: flex;
   margin-left: auto;
   margin-right: 0;
   width: 10%;

}

.label-todo {
}

.header-top {
  display: flex;
}

.header-user_lbl {
    color: white;
    text-align: 5px;
}


.button {
  border: 0;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
  height: var(--height);
  width: var(--height);
  background: var(--color-accent);
  transition: background-color 150ms linear,
              color 150ms linear;
}

.button:hover {
  background-color: var(--color-accent-hover);
  color: var(--color-bg);
}

.button:focus {
  background-color: var(--color-accent-hover);
  color: var(--color-bg);
}

.icon {
  width: 100%;
  height: 100%;
  stroke: currentColor;
  stroke-width: 2;
  fill: none;
  pointer-events: none;
  padding: 0.25em;
}

.logout {
    width: 20%;
}

.btn-logout {
    width: 24%;
    height: 25px;
    background-color: var(--color-accent);
    cursor: pointer;
    margin-left: 5%;
    margin-top: 5%;
    padding: 3px;
}

.main {
  padding: 1rem;
  margin: 0 auto;
  width: 65ch;
  max-width: 100%;
}

.todo-form {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 0.25em;
  font-size: var(--font-size);
  margin-bottom: 0.2em;
}

.todo-input {
  background-color: var(--color-bg-input);
  border: 0;
  outline: 2px solid transparent;
  font-size: var(--font-size);
  padding: 0.5em 1em;
  height: var(--height);
  transition: outline 150ms linear;
  margin-bottom: 20px;
}

.btn_delete {
    display: flex;
}

.todo-input:hover {
  outline-color: var(--color-accent-hover);
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 1em;
  gap: 1em;
  font-size: var(--font-size);
}

.radio-option {
  position: relative;
  flex: 1;
  text-align: center;
}

.radio-label {
  font-size: inherit;
  display: block;
  width: 100%;
  padding: 0 0.5em;
  box-shadow: inset 0 -0.25em var(--color-accent);
  opacity: 0.4;
  transition: all 150ms linear;

}

input, p {
    border-radius: 5px;
}

input[type="radio"] {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

input[type=radio]:hover + .radio-label,
input[type=radio]:focus + .radio-label,
input[type=radio]:checked + .radio-label {
  opacity: 1;
}

.main {
    background-color: rgb(0,0,0,0.3);
    border-radius: 3px;
}

.todo-item {
  display: flex;
  font-size: var(--font-size);
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  gap: 0.25em;
  align-items: center;
  margin-bottom: 0.25em;
  transition: all 200ms ease;
  transform: translateY(0);
  transform-origin: bottom left;
}

.todo-content {
  background-color: var(--color-bg-input);
  line-height: calc(var(--height) - 0.5em);
  font-size: inherit;
  padding: 0.25em 1em;
  flex: 1;
  transition: text-decoration 150ms linear, opacity 150ms linear;
}

.todo-completed {
    background-color: var(--color-checked);
}

.todo-delete {
    background-color: var(--color-delete);
}

.rotate-fade {
  transition: text-decoration 150ms linear, opacity 150ms linear;
  transform: rotate(30deg) translateY(2em);
  opacity: 0;
}

.completed .todo-content {
  text-decoration: line-through;
  opacity: 0.7;
}

