<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Sign in</title>
    <base href="">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script src="https://kit.fontawesome.com/c06eb18ae1.js" crossorigin="anonymous"></script>
</head>

<body>

<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="login">
        <form th:action="@{/login}" method="post" class="login-form">
            <label for="chk" aria-hidden="true">Login</label>
            <input type="text" name="username" placeholder="Username" required="">
            <input type="password" name="password" placeholder="Password" required="">
            <button>Login</button>

            <div class="forgot-pass" th:if="${param.error}">
                <a class="lbl-forgot-pass underline" href="">Forgot password?</a>
            </div>

            <div class="error-login">
                <div th:if="${param.error}">
                    Invalid username and password.<br>
                </div>
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>
                <div th:if="${usernameExists}">
                    Username is exists!
                </div>
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>
            </div>
        </form>

        <div class="oauth2">
            <form th:action="@{/oauth2/authorization/google}" method="get">
                <button type="submit" class="fb-btn">
                    <div class="google-lbl">Connect with Google</div>
                </button>
            </form>
        </div>

    </div>

    <div class="signup">
        <form th:action="@{/registration}" method="post" class="login-form">
            <label for="chk" aria-hidden="true">Sign up</label>
            <input type="text" name="username" placeholder="User name" required="">
            <input type="email" name="email" placeholder="Email" required="">
            <input type="password" name="password" placeholder="Password" required="">
            <button>Sign up</button>
        </form>
    </div>

</div>

</body>

</html>