<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

    <body>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

<!--`        <p th:text="'Hello, ' + ${todos[1].todo.user.username} + '!'" \>`-->

        <form th:action="@{/todo}" method="post">
            <input th:name="content" type="text" value="" placeholder="Add new todo">
            <input type="submit" value="ok">
        </form>


        <table>
            <thead>
            <tr>
                <th> Content </th>
                <th> Completed </th>
            </tr>
            </thead>

            <tbody>
            <tr th:if="${todos.empty}">
                <td colspan="2"> No todos available </td>
            </tr>
            <tr th:each="todo : ${todos}">
                <td><span th:text="${todo.content}"> Content </span></td>
                <td><span th:text="${todo.completed}"> Completed </span></td>
                <td><span th:text="${todo.user.username}"> Completed </span></td>
            </tr>
            </tbody>

        </table>

    </body>

</html>