<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Application</title>

    <link rel="stylesheet" href="" th:href="@{/css/main.css}">
    <script src="https://kit.fontawesome.com/c06eb18ae1.js" crossorigin="anonymous"></script>
</head>

<body>

<header>
    <div class="header-top">
        <div class="logout">
            <form th:action="@{/logout}" method="post">
                <button class="btn-logout button" type="submit" value="Sign Out">
                    <i class="fa-solid fa-right-from-bracket fa-flip-horizontal"></i>
                    <span>Logout</span>
                </button>
            </form>
        </div>
        <div class="header-right">
            <p class="header-user_lbl">User: [[${username}]]</p>
        </div>
    </div>

    <div class="header">
        <h1>Todo List</h1>
    </div>
</header>
<main class="main">
    <form class="todo-form" th:action="@{/todo}" method="post">
        <input type="text" th:name="content" id="todo-input" class="todo-input" required/>
        <button id="todo-submit" class="button todo-submit" type="submit" aria-label="add">
            <i class="fa-solid fa-plus fa-xl"></i>
        </button>
    </form>
    <section class="todos">
        <div class="filter">
            <div class="radio-option">
                <input type="radio" id="all" name="filter" value="all" checked>
                <label for="all" class="radio-label">All</label>
            </div>
            <div class="radio-option">
                <input type="radio" id="completed" name="filter" value="completed">
                <label for="completed" class="radio-label">Completed</label>
            </div>
            <div class="radio-option">
                <input type="radio" id="uncompleted" name="filter" value="uncompleted">
                <label for="uncompleted" class="radio-label">Uncompleted</label>
            </div>
        </div>

        <div class="todo-list" id="todo-list">
            <div th:each="todo : ${todos}">
                <div class="todo-form" id="todo-form">
                    <form class="form-content" th:action="@{/api/todo/toggle/{id} (id=${todo.id})}" method="post">
                        <div th:switch="${todo.completed}">
                            <div class="todo-item completed" th:case="${true}">
                                <p th:inline='text'
                                   th:value="${todo.content}"
                                   class="todo-content" name="content" field="*{content}" tabindex="0">
                                    [[${todo.content}]]</p>
                                <button class="button todo-completed" aria-label="mark complete">
                                    <i class="fa-solid fa-xmark fa-xl"></i>
                                </button>
                            </div>

                            <div class="todo-item" th:case="*">
                                <p th:inline='text'
                                   th:value="${todo.content}" class="todo-content" name="content" field="*{content}"
                                   tabindex="0">[[${todo.content}]]</p>

                                <button class="button todo-completed" aria-label="mark complete">
                                    <i class="fa-solid fa-check fa-xl"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <form class="btn_delete form-content" th:action="@{/api/todo/delete/{id} (id=${todo.id})}"
                          method="post">
                        <button class="button todo-delete" aria-label="mark complete">
                            <i class="fa-solid fa-trash-can fa-xl"></i>
                        </button>
                    </form>


                </div>
            </div>
        </div>

    </section>
</main>

</body>

<script src="/js/main-script.js"></script>

</html>